@use "../abstracts" as *;

body {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 1.6;
  color: $navy;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 0.05em;

  @include respond-to(tablet) {
    font-size: 56px;
  }
  @include respond-to(mobile) {
    font-size: 40px;
  }
}

h2 {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0.05em;

  @include respond-to(tablet) {
    font-size: 36px;
  }
  @include respond-to(mobile) {
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;
  font-weight: 500;

  @include respond-to(mobile) {
    font-size: 22px;
  }
}

p {
  font-size: 18px;

  @include respond-to(mobile) {
    font-size: 16px;
  }
}
